<%-include('./partial/header.ejs')-%>
<br><br><br><br>
    <div>
        <br><br>
        <% items.forEach(function(image) { %>
            <div class="container" style="height: auto;width: auto;">
                <!-- <style>
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: auto;
                margin-bottom: auto;
            }
            
            h5 {
                text-align: center;
            }
        </style> -->
                <!-- <div style="width: 30%; float: left; background-color: lightslategrey;">
            <img src="data:image/<%=image.img.contentType%>;base64,
                <%=image.img.data.toString('base64')%>" height="275" width="350">
        </div>
        <div style="width: 20%;background-color: aquamarine;float: right;">

            <%= image.name %>|| </div>
        <div style="width: 20%;background-color: aquamarine;float: right;">
            <%= image.town %>|| </div>
        <div style="width: 30%;background-color: aquamarine;float: right;">
            <%= image.desc%>
                <br>
        </div>

                
        <br>
        <hr> -->

                <style>
                    .t{
                        transition: transform .2s;
                    }
                    .t:hover{
                        transform: scale(1.5);


                    }
                </style>

                <div>
                    <div  style="width:35%;Text-align:center; background-color: white; height: 250px;">
                        <img class="t" src="data:image/<%=image.img.contentType%>;base64,
                <%=image.img.data.toString('base64')%>" height="80%" width="80%">
                    </div>
                    
                    <div style="Text-align:left;Width:65%;float: right;background-color: rgb(174, 224, 133); height: 30px;">
                        <h5 style="margin-left: 30px;">
                            <%= image.name %>
                        </h5>
                    </div>
                    <div style="Text-align:left;Width:65%;float: right;background-color: rgb(199, 166, 127); height: 30px;">
                        <h5 style="margin-left: 30px;">
                            <%= image.town %>
                        </h5>
                    </div>
                    <div style="Text-align:left;Width:65%;float: right;background-color: rgb(152, 162, 223); height: 190px;">
                        <p style="margin-left: 30px;">
                            <%= image.desc%>
                        </p>
                    </div>

                </div>
            </div>

            <% }) %>
    </div>
    <%-include('./partial/footer.ejs')-%>